img {
  max-width: 100%;
  padding: 0 2em;
}

#dark img:not([src*=".svg"]) {
  filter: grayscale(25%);
}

/* .pfp {
  width: 100%;
} */

body#dark {
  color: #f8f9fa;
  background-color: #353a40;
}

#dark .nav-tabs .nav-link:focus, #dark .nav-tabs .nav-link:hover {
  border-color: #1d2022 #1d2022 #262b2f;
}

#dark .bg-light {
  background-color: #262b2f!important;
}

#dark a {
  color: #4c7bad;
}

.nav-tabs .nav-link {
  font-size: 0.8em;
}

@media (min-width: 576px) {
  .nav-tabs .nav-link {
    font-size: 1em;
  }
}

#dark .nav-tabs {
  border-bottom: 1px solid #1d2022;
}

#dark .nav-tabs .nav-item.show .nav-link, 
#dark .nav-tabs .nav-link.active {
  color: #f8f9fa;
  background-color: #262b2f;
  border-color: #1d2022 #1d2022 #262b2f;
}

.icon-link:hover {
  text-decoration: none;
}

.icon-link {
  font-size: 1.6rem;
}

.navbar-brand {
  font-family: 'Courier New', Courier, monospace;
}