@import "~bootstrap/scss/bootstrap";
@import "bootswatch";
@import "variables";
@import "custom";

.placeholder-img {
  text-anchor: middle;
}

.placeholder-col {
  -ms-flex: 0 0 calc(300px + var(--bs-gutter-x));
  flex: 0 0 calc(300px + var(--bs-gutter-x));
}